.login-Container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .title{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding-top: 30px;
  }
  .text{
    font-weight: 600px;
    padding-bottom: 3px;
  }
  input{
    padding: 12px 7px;
    margin: 2px 0;
    outline: none;
    margin-bottom: 7px;
    border: #1618230f;
    background: #43454d0f;
    border-radius: 5px;
    width: 100%;
    &:hover{
      background: #0b0b110f;
    }
  }
  .input-password{
    position: relative;
    i{
      cursor: pointer;
      position: absolute;
      top: 30%;
      right: 18px;
    }
  }
  button{
    outline: none;
    border: none;
    padding: 10px 5px;
    margin-top: 15px;
    border-radius: 5px;
    color: #000;
    font-weight: 600;
    &:hover{
      background: #d1cccf;
    }
    &.active{
      color: #ffffff;
      background: #fa81ca;
    }
  }
  button:disabled,
  button[disabled]{
    background-color: #cccccc;
    color: #666666;
  }

  .back{
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    color: #74084a;
    i{
      margin-right: 3px;
    }
  }
}